*{
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
}
body{
    background: url(../imagenes/pawprints-gbe884adb1_1920.jpg);
    animation: movimiento 10s infinite linear alternate;
width: 100%;}

@keyframes movimiento{

    from { 

        background-position: bottom;

    }
    to{

        background-position: top;

    }

}
h1 {
    color: black;
    text-align: center;
    font-size: 80px;

}
h2{
    text-align: center;
}

footer{
    background-color: #e3f2fd;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.buttons a{
    text-decoration: none;
    font-size: 86px;
    width: 106px;
    height: 96px;
    line-height: 1;
    text-align: center;
    background: aqua;
    color: gray;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all .4s ease-in-out;
    
}

.buttons a:hover {
    transform: scale(1.2);
}
